body{
    background-color: rgb(207, 71, 94);
    text-align: center;
    color:White;
}
.V
{
    border-radius: 50%;
}
.P
{
    text-align: left;
    font-size: 35px;
}
.M
{
    text-align: left;
    font-size: 35px;
}
.Eu
{
    text-align: left;
    font-size: 35px;
}
.S
{
    text-align: left;
    font-size: 35px;
}
p
{
    text-align: left;
    font-size: 25px;
}